<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>
    <body>
        <div class='ml-5'>
            <h2 class='text-success'>This is Shortcut Navigation</h2><br>
            <h3 class='text-danger font-weight-italic'>Dashboard</h3><br><a href="https://www.pythonanywhere.com/user/pinate123/">Dashboard</a><br><br>
            <h3 class='text-danger font-weight-italic'>Web</h3><br><a href="https://www.pythonanywhere.com/user/pinate123/webapps/#tab_id_pinate123_pythonanywhere_com">web</a><br><br>
            <h3 class='text-danger font-weight-italic'>Files</h3><br><a href="https://www.pythonanywhere.com/user/pinate123/files/home/pinate123">Files</a><br><br>
            <h3 class='text-danger font-weight-italic'>Shop App</h3><br><a href="https://www.pythonanywhere.com/user/pinate123/files/home/pinate123/mac/shop">Shop app</a><br><br>
            <h3 class='text-danger font-weight-italic'>Blog App</h3><br><a href="https://www.pythonanywhere.com/user/pinate123/files/home/pinate123/mac/blog">Blog app</a><br><br>

        </div>
    </body>
</html>